PORT=1212
HOST=0.0.0.0
API_PREFIX=/api/v1
OWN_URL=http://localhost:1212/api/v1 # for openapi spec

MACHINE_URL=http://localhost:1313/api/v1
MACHINE_TOKEN=shared-machine-token

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=civ6ranked
POSTGRES_USER=civ6ranked
POSTGRES_PASSWORD=civ6ranked_password

SSL=false
SSL_DIR=certs # for key.pem & cert.pem

SERVICE_TOKEN=shared-service-token
