PORT=1313
HOST=0.0.0.0
API_PREFIX=/api/v1
OWN_URL=http://localhost:1313/api/v1 # for openapi spec

INGAME_ID=civ6ranked
LOGS_LOCATION="C:\Users\<user>\AppData\Local\Firaxis Games\Sid Meier's Civilization VI\Logs"
SAVES_LOCATION="C:\Users\<user>\Documents\My Games\Sid Meier's Civilization VI\Saves\Multi"

SSL=false
SSL_DIR=certs # for key.pem & cert.pem

SERVICE_TOKEN=shared-service-token
